@model ProyectoWeb.Models.Sales

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inventory.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.firstname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sales_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
