@model IEnumerable<ProyectoWeb.Models.Sales>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit_cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.firstname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit_cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inventory.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.firstname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sales_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.sales_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sales_id })
        </td>
    </tr>
}

</table>
